<%- include('partials/header'); -%>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    <link rel="stylesheet" href="/css/style_aboutus.css">
</head>
<body>
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">About The Straw Hats</h1>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt="" class="img-fluid"></div>
        </div>
    </div>
    
    <div class="py-5">
        <div class="container py-5">
            <div class="row mb-4">
                <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Our team</h2>
                <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        
            <div class="row text-center">
                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                <!-- <div class="rounded shadow-lg py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834132/avatar-4_ozhrib.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"> -->
                <div class="rounded shadow-lg py-5 px-4"><img src="https://i.pinimg.com/736x/5f/40/6a/5f406ab25e8942cbe0da6485afd26b71.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Nachiket Moghe</h5><span class="small text-uppercase text-muted">Leader</span>
                </div>
                </div>
                <!-- End-->
        
                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                <div class="rounded shadow-lg py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Dhundiraj J</h5><span class="small text-uppercase text-muted">Member</span>
                </div>
                </div>
                <!-- End-->
        
                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                <div class="rounded shadow-lg py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-2_f8dowd.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Keval Karani</h5><span class="small text-uppercase text-muted">Member</span>
                </div>
                </div>
                <!-- End-->
        
                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                <div class="rounded shadow-lg py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Vignesh Naik</h5><span class="small text-uppercase text-muted">Member</span>
                </div>
                </div>
                <!-- End-->
        
            </div>
        </div>
    </div>
</body>
</html>