<%- include('partials/header'); -%>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/style_home.css">
</head>
<body>
<div class="container-fluid">
    <h1>Order</h1>
<div class="row">   
    <div class="col-2 border-right ">
        Stocks
    </div>
    <div class="Col">
        

        



        
            
        
    <div class="container">

        <div class="row row-content">
            <div class="col-sm-12">
                <div class="card1">
                    <div class="card-body">
                        <div class="col-sm"> Wallet Balance: 1234</div>
                        <div class="col-sm">Total Stocks Held : 12</div>
                        <div class="col-sm">Profits:1000</div>
                    </div>
                  </div>
            </div>
        </div>
            <br>
            <br>

        <div class="row row-content">


            <div class="col-sm-4">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <h5 class="card-title">RELIANCE</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Reliance Industries (Energy)</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                      <i class="fas fa-rupee-sign" aria-hidden="true">2100</i>
                      <br><br>
                      <div class="row">
                        <div class='col-sm-1'></div>
                        <div class='col-sm-5'>
                            <a name="" id="" class="btn btn-block btn-outline-success" href="#" role="button">BUY</a>
                        </div>
                        <div class='col-sm-5'>
                            <a name="" id="" class="btn btn-block btn-outline-danger" href="#" role="button">SELL</a>
                        </div>
                        <div class='col-sm-1'></div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-sm-4">
              <div class="card" style="width: 20rem;">
                  <div class="card-body">
                    <h5 class="card-title">SUNPHARMA</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Sun Pharmaceuticals Ltd. (Pharma)</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                    <i class="fas fa-rupee-sign" aria-hidden="true">300</i>
                    <br><br>
                    <div class="row">
                      <div class='col-sm-1'></div>
                      <div class='col-sm-5'>
                          <a name="" id="" class="btn btn-block btn-outline-success" href="#" role="button">BUY</a>
                      </div>
                      <div class='col-sm-5'>
                          <a name="" id="" class="btn btn-block btn-outline-danger" href="#" role="button">SELL</a>
                      </div>
                      <div class='col-sm-1'></div>
                    </div>
                  </div>
                </div>
          </div>

            <div class="col-sm-4">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <h5 class="card-title">TATAMOTORS</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Tata Motors (Automobile)</h6>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      
                      <i class="fas fa-rupee-sign" aria-hidden="true">300</i>
                      <br><br>
                      <div class="row">
                        <div class='col-sm-1'></div>
                        <div class='col-sm-5'>
                            <a name="" id="" class="btn btn-block btn-outline-success" href="#" role="button">BUY</a>
                        </div>
                        <div class='col-sm-5'>
                            <a name="" id="" class="btn btn-block btn-outline-danger" href="#" role="button">SELL</a>
                        </div>
                        <div class='col-sm-1'></div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-sm-4">
              <div class="card" style="width: 20rem;">
                  <div class="card-body">
                    <h5 class="card-title">INDUSINDBK</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Indusind Bank (Finance)</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    
                    <i class="fas fa-rupee-sign" aria-hidden="true">300</i>
                    <br><br>
                    <div class="row">
                      <div class='col-sm-1'></div>
                      <div class='col-sm-5'>
                          <a name="" id="" class="btn btn-block btn-outline-success" href="#" role="button">BUY</a>
                      </div>
                      <div class='col-sm-5'>
                          <a name="" id="" class="btn btn-block btn-outline-danger" href="#" role="button">SELL</a>
                      </div>
                      <div class='col-sm-1'></div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
        <!-- <div class="col"> -->
            <hr>
            <!-- <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title">RLNS</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Relience(industry)</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  
                  <i class="fas fa-rupee-sign" aria-hidden="true">69</i>
                  <br>
                  <a name="" id="" class="btn btn-danger" href="#" role="button">Sell</a>
                  <a name="" id="" class="btn btn-success" href="#" role="button">Buy</a>
                </div>
              </div> -->

        </div>
        
        
    </div>


    </div>
</div>
</div>
</body>
<%- include('partials/footer'); -%>
